{% load static %}
{% include 'header.html' %}

<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <div class="section-subtitle">About Us
                    </div>
                    <h2 class="section-main-title"> We Are <strong>Professionals</strong></h2>

                </div>
                <div class="about-item">
                    <p>The primary goal of this application is to reduce the manual effort involved in cumulative bagging and cumulative dispatching tally. Because everyone uses the automated system, the efficiency will improve. The information about the cargo is currently stored on paper in the existing system. This programme will generate an automated system. This application will make it very simple to store data. This application will eliminate the need to store data in multiple registers. People can also easily track cargo that has been traded via airline, ship, or locally. This application can also be used to generate daily reports.
This system can be used by cargo companies. This stores complete cargo inventory details beginning with purchase, sales, and stock records. This system keeps track of cargo details, cargo item records, stock records, and so on. This website project keeps track of cargo details, shipping details, delivery records, stock records, and so on.
</p>
                </div>
            </div>

            <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{%static 'images/entry.jpg' %}">
                </div>
            </div>
        </div>

    </div>
</section>