{% load static %}
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{%static 'css/login.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style="background-image :url({%static 'images/loginadmin.jpg' %})">

<div class="row">
  <div class="col-lg-5 m-auto">
    <div class="card mt-5 "style="background-image :url({%static 'images/loginadmin.jpg' %})">
      <div class="card-title text-center mt-3">
        <img src="{% static 'images/admin.png' %}" width="30%" >
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user fa-2x"></i>
              </span>
            </div>
            <input type="text" name="username" class="form-control py-4" placeholder="UserName">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock fa-2x"></i>
              </span>
            </div>
            <input type="password" name="pwd" class="form-control py-4" placeholder="Password">
          </div>

          <input type="submit" value="Login" class="btn btn-success px-5">
          <a href="{% url 'index' %}" class="float-right text-dark mt-2">Go Back to Home</a>

        </form>
      </div>
    </div>
  </div>

</div>

</body>

{% if error == "no" %}
<script>
  alert('Logged in Successfully');
  window.location = ('{% url 'admin_home' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Invalid Login Credentials , Try Again....');
</script>
{% endif %}