

.nav-link{
color : white !important;
}

.nav-link:hover{
color : yellow !important;
background-color : red;
broder-radius:15px
}

.navbar-brand{
font-weight : bold
}



nav-item .active{
background-color : pink;
broder-radius :30px
}

.page-title{
color :red;
font-size : 2em;
padding : .5em 1em;
box-shadow : 0px 0px 2px #b0b0b0;
width :30%;
margin: 0 auto;
text-transform : uppercase;
}

/* about page css start*/

.section-subtitle{
margin-bottom:7px;
padding-left:7px
text-transform:uppercase;
color : #aaaaaa;
font-size:70px;
font-family : tahoma;
broder-left : 3px solid;
line-height :1;
}
.section-main-title{
margin-bottom : 35px;
font-size : 30px;

}

.about-item {
color :grey;
}

.about-box{
box-shadow:0 0 0 10px #000000 insest;
margin-right :0;
margin-top:0;
position relative;
display:block;
}

.about-box img{
width:100%;
transform:translateY(30px) translate(-30px);

}
/* about page css end*/

#contact{
background:url("/static/images/contact.png")

}